<div class="image-center">
		<%= image_tag "Logo Elos Consultoria.png" %>
</div>
<h1 class="main">Site em Construção</h1>

<section class= "contacts">
	<div class="row-parent">
		<div class="row">
			<div class="colspan2-2 as-grid">
				<h2 class= "contacts__title">Nossos Contatos</h2>
				<table class="contacts__content ">
			<tr>
				<td>
					Elisangela Fernandes
				</td>
				<td>
					(71) 9257-9818 / (71) 8665-0821
				</td>
				<td class="contacts__content--email">
					elisangela@elosconsultoria.com
				</td>
			</tr>

				<tr>
				<td>
				Ana   Paula Moreira
				</td>
				<td>
					(71) 9276-1789 / (71) 8723-7287            
		   </td>
				<td class="contacts__content--email">
					anapaula@elosconsultoria.com
				</td>
			</tr>

				<tr>
				<td>
					Lídia Vasconcelos                        
				</td>
				<td>
					(71) 8744-5598 / (71) 9904-9564
		   </td>
				<td class="contacts__content--email">
					lidia@elosconsultoria.com
				</td>
			</tr>

				<tr>
				<td>
					Vanessa Pereira                          
				</td>
				<td>
					(71) 8299-4815 / (71) 9245-2687
				</td>
				<td class="contacts__content--email">
					vanessa@elosconsultoria.com
				</td>
			</tr>
		    </table>
			</div>
		</div>
	</div>
</section>

          
          