	<section class="main"> 
		<header class="global-header">
			<div class="row">
				<h1 class="global-logo colspan12-8 colspan8-4 colspan2-2 as-grid"><a href="#">Elos Consultoria e Treinamento</a></h1>
					<nav class="global-header__navigation colspan12-4 colspan8-4 as-grid">
						<ul>
							<li><a href="#quemSomos">Quem Somos</a></li>
							<li><a href="#nossosServicos">Nossos Serviços</a></li>
							<li><a href="#equipeTecnica">Equipe Técnica</a></li>
							<li><a href="#contato">Contato</a></li>
							<li><a href="#eventos">Eventos</a></li>
						</ul>
					</nav>
				<!-- <a class="toggle-nav button-mobile" href="#"><%= fa_icon "bars 2x"%></a> -->
			</div> 
		</header>	
		
		<div class="hero">
				<div class="row">
					<h2 class="colspan12-6 push12-3 is-typeset">Lorem <span class="accent">ipsão</span> gosti ist amet, <span class="half-accent">consectetuer</span> elit. Profinal masa. Pisfect volúpat muttis belezos.</h2>
					<h3 class="button--cta">Inscrição em curso?</h3>
				</div>
		</div>
		<div class="row">
			<div class="latest-news colspan12-8 push12-2">
				<h2>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed augue
						odio augue aliquam leo, nec dapibus tortor nibh sed augue.</h2>
				<h3>www.tribunaldejustica.ba</h3>
				<h4>03/09/2014</h4>
		</div>
		</div>

<!-- 		<div class="site-menu">
						<ul>
							<li><a href="#quemSomos">Quem Somos</a></li>
							<li><a href="#nossosServiços">Nossos Serviços</a></li>
							<li><a href="#contato">Contato</a></li>
						</ul>
		</div> -->

	</section>

	<section class="quemSomos" id="quemSomos">
		<div class="row">
			<div class="section-title colspan2-2">
				<h1>Quem Somos</h1>
			</div>
			<div class="colspan12-8 push12-2 as-grid">
				<div class="as-grid__module">
					<h2 class="as-grid__module--center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</h2>
				</div>
			</div>
			<div class="mvv">
				<div class="row">
					<ul class="colspan12-3 push12-1 as-grid">
						<li class="button--cta mvv__button--1"><a href="#">missão</a></li>
						<li class="button--cta mvv__button--2"><a href="#">visão</a></li>
						<li class="button--cta mvv__button--3"><a href="#">valores</a></li>
					</ul>
					<div class="mvv__text colspan12-7 as-grid">
						<h3 class="mvv__text--1">1Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor.</h3>
						<h3 class="mvv__text--2">2Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor.</h3>
						<h3 class="mvv__text--3">3Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor.</h3>
					</div>
				</div>

			</div>
		</div>
	</section>