/**
*
* This file is organized in the following way
*	hero
**/
.main{
	@include adjust-font-size-to($alpha);
	// border-bottom: 1px solid #7BFF68;
	@include leader(15);
	text-align: center;
	color: #19B065;
	font-weight: bold;
}
